install.packages(c(
  "tidyverse",
  "tidymodels",
  "arrow",
  "readxl",
  "writexl",
  "openxlsx",
  "repurrrsive",
  "jsonlite",
  "scales",
  "patchwork",
  "ggrepel",
  "ggthemes",
  "ggridges",
  "RColorBrewer",
  "ggplot2",
  "sf"
))
